13_bitset
13_fast
13_slow
14_fast
14_slow
*.exe
*.o
*.obj
*.lst
12
24
24_no_args
5_search_2
5_search_4
5_search_4_grep
5_struct
5_sort
5_sort_no_args
out.*
12_struct
4_sort_file
fill_rand
tmp*
rev
*.exe
